<div class = "row">
  <div class = "col-md-12">
    <form>
      <div class = "input-group">
        <span class="input-group-addon" id="basic-addon3">https://github.com/</span>
        <input class = "form-control" type = "text" placeholder= "Enter a Github Username" [(ngModel)] = "username" name = "username" (keyup)= "searchUser()">
      </div>
    </form>
  </div>
</div>
<hr />
<div *ngIf="user">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">{{user.name}}</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <img class="img-thumbnail" src="{{user.avatar_url}}" />
          <a class="btn btn-default btn-block" href="{{user.html_url}}" target="-_blank">View Profile</a>
        </div>
        <div class="col-md-8">
          <div class="stats">
            <span class="label label-primary"> {{user.public_repos}} Public Repositories</span>
            <span class="label label-warning"> {{user.public_gists}} Public Gists</span>
            <span class="label label-success"> {{user.followers}} Followers</span>
            <span class="label label-info"> {{user.following}} Following</span>
          </div>
          <br />
          <ul class="list-group">
            <li class="list-group-item">
              <strong>Username: </strong> {{user.login}}
            </li>
            <li class="list-group-item">
              <strong>Location: </strong> {{user.location}}
            </li>
            <div *ngIf = "user.email">
              <li class="list-group-item">
                <strong>Email: </strong> {{user.email}}
              </li>
            </div>
            <div *ngIf = "user.blog">
              <li class="list-group-item">
                <strong>Blog: </strong> <a href="{{user.blog}}" target="_blank">{{user.blog}}</a>
              </li>
            </div>
            <li class="list-group-item">
              <strong>Member Since: </strong> {{user.created_at}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Repos</h1>
    </div>
    <div class="panel-body">
      <div *ngFor = "let repo of repos">
      <div class="row">
        <div class="col-md-9">
            <h4><a href = "{{repo.html_url}}"></a>{{repo.name}}</h4>
            <p>
              {{repo.description}}
            </p>
        </div>
        <div class="col-md-3">
            <span class = "label label-primary">{{repo.watchers}} Watchers</span>
            <span class = "label label-primary">{{repo.forks}} Forkers</span>
        </div>
        </div>
      </div>
      </div>
  </div> -->

</div>
